@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.top {
    flex-flow: column wrap;
    background-color: #1f2937;
    color: #fff;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header > p.text {
    font-size: 24px;
    color: #f9faf8;
}

.header-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

.img1 {
    max-width: 500px;
}

p.text1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}

.signup {
    border-color: #1f2937;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 48px;
}

img {
    max-width: 200px;
    max-height: 200px;
}

.images-info {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
}

.text {
    max-width: 200px;
    margin-bottom: 48px;
}

.quote {
    background-color: #e5e7eb;
    padding: 64px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quote-text {
    max-width: 300px;
    font-style: italic;
    font-size: 34px;
}

.author {
    display: flex;
    font-weight: bold;
    align-items: end;
}

.action {
    background-color: #3882f6;
    margin: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-text {
    color: #f9faf8;
    padding: 25px;
}

.text3 {
    font-size: 20px;
    font-weight: bold;
}

.signup1 {
    border-color: #fff;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #f9faf8;
}